/*Este es el codigo que se usa para importar una fuente de Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
html {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 0.9em;
}

main {
    flex: 1 0 auto;
    display: flex;
}

.Contenido {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    overflow-y: scroll;
}

.Cabecera {
    flex: 0 0 auto;
    display: flex;
    padding: 40px;
    background-color: whitesmoke;
}

.Cabecera img {
    float:right;
    box-shadow: 0px 0px 20px cyan;
    transition: all 0.2s ease;
  }

.Cabecera img:hover {
    box-shadow: 0px 0px 40px black;
}

.Music1 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: black;
    padding-left: 50px; 
}
.Music1 div:nth-child(1){
    margin-bottom: auto;
  }
.Music1 div:nth-child(2){
    margin-top: 0;
  }
.Music1 div:nth-child(2) i.fa{
    font-size: 0.9em;
    padding: 0 0.7em;
    font-weight: 300;
    border-color: aquamarine;
  }
.Music1 div:nth-child(1) p:first-child{
    font-size: 1.8em;
    margin: 0 0 10px;
  }
.Music1 div:nth-child(1) p:not(:first-child){
    font-size: 0.9em;
    margin: 2px 0;
  }

.titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 3.0em;
}

.Lista{
  min-height: 5%;
}

.ListaMusi h1 {
    text-transform: uppercase;
    font-family: 'Balsamiq Sans', cursive;
}
  
li {
    display: flex;
    flex-flow: row;
    padding: 0 20px;
    min-height: 50px;
    transition: all 0.2s ease;
}
  
li p {
    flex: 0 0 25%;
}
  
li:hover {
    background-color: rgba(61, 100, 158, .2);
    color: rgba(61, 100, 158, .9);
  }
  
aside {
    flex: 0 0 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
  }
  
aside i.fa {
    font-size: 0.9em;
    color: #444;
  }

footer {
    display: flex;
    flex: 0 0 90px;
    padding: 10px;
    color: #fff;
    background-color: rgba(48, 49, 51, 0.9);
    justify-content: space-between;
  }

footer i.fa {
    font-size: 1.5em;
    color: white;
    padding: 20px;
    transition: all 0.2s ease;
    border-radius: 50%;
  }
  
footer i.fa:hover {
    background-color: #36588c;
    border-radius: 0px;
}

footer img {
  display: block;
  height: 50px;
  width: auto;
  padding-right: 20px;
}

.Repro {
  display: flex;
  width: 300px;
  align-items: center;
  transition: all 0.2s ease;
}

.Repro p {
  font-weight: 700;
}

.Repro:hover {
  background-color: #36588c;
}

.controles {
  display: flex;
  flex: 0 500px;
  align-items: center;
  justify-content: space-around;
}